body {
  font-family: Lato;
  font-size: 14px;
}

#Filter {
  padding: 14px 0 14px 0;
}

label {
  padding-right: 8px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

tr {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.tableHeader {
  background-color: rgb(31, 31, 31);
  color: white;
}

.tableRow {
  cursor: pointer;
}

th, td {
  border: none;
  padding: 6px 10px 6px 10px;
}
